/* Rules */
body {
  background-color: #f4f4f4;
  font-size: 16px;
}
/* Rules */

/* my-form */
.login {
  width: 300px;
  margin: 150px auto;
}
.login .text-center {
  color: #888;
}
.login input {
  margin-bottom: 7px;
}
.login .form-control {
  background-color: E5E5E5;
}
.login .btn {
  background-color: cornflowerblue;
}
/* my-form */
/* Start Bootstrap Edits */
.navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.nav > li > a,
.navbar-brand {
  padding: 15px 12px;
}
.navbar-brand {
  font-size: 1em;
}
I
.navbar-inverse .navbar-nav> .open>a,
.navbar-inverse .navbar-nav> .open>a:focus,
.navbar-inverse .navbar-nav> .open>a:hover, .dropdown-menu
{
  background-color: #4c8bdc;
}
.dropdown-menu {
    min-width: 180px;
    padding: 0;
    font-size: 1em;
    border: none;
    border-radius: 0;
}
.dropdown-menu > li > a {
    color: rgb(255, 255, 255);
    padding: 6px 14px;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
   color: #FFF;
   background-color: #8e44ad;
}
/* End Bootstrap Edits */
/* Start Members Page */
h1 {
    font-size: 40px;
    margin: 20px 0;
    font-weight: bold;
    color: #888;
    } 
/* End Members Page--end 20 */
